form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

legend, form, input, h1, h3, h4 {
    justify-content: center;
    align-content: center;
}

legend {
    margin-bottom: 1em;
    font-size: 3em;
}

input, select {
    padding: 0.5em;
    margin: 1em;
    justify-content: center;
    align-content: center;
}

#submitButton {
    border-style: solid;
    border-color: #12AE98;
    border-width: 3px;
    box-shadow: 0 10px 6px -6px;
}

#results {
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
}

.result {
    justify-content: center;
    align-content: center;
    padding: 0.25em;
    margin: 0.5em;
}

.result label {
    justify-content: center;
    align-content: center;
    padding: 0.25em;
    margin: 0.25em;
}

.userInputs {
    border-style: solid;
}

ol {
    flex-wrap: wrap;
    max-width: 100%;
}