body * {
    display: flex;
    padding: 0.5em;
}

legend, form, input, h1, h3 {
    justify-content: center;
    align-content: center;
}

form {
    flex-direction: column;
    flex-wrap: wrap;
}

input {
    padding: 0.5em;
    margin: 1em;
}

#map {
    margin: 0.5em;
    width: 100%;
}

.userInputs {
    border-style: solid;
}

ol {
    flex-wrap: wrap;
    max-width: 100%;
}